.ubd-sortable{
    display:flex;
    flex-wrap: wrap;
}

.ubd-sortable li{
    margin-right:10px;
}

.ubd-multi-sortable li{
    padding: 6px 5px 6px 10px;
}

.select2-container--default{
    width:100%!important;
}

.ubd-btn-submit{
    background: #f3f5f6;
    border-color: #7e8993;
    box-shadow: none;
    color: #016087;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-radius: 1px!important;
    border-color:#ddd!important;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 1px!important;
}
.ui-icon-close{
    cursor: pointer;
}
.ui-icon-arrowthick-2-n-s{
    cursor: move;
}
.ubd-multi-sortable .ui-state-default{
    position: relative;
}
.ubd-multi-sortable .ui-icon-close{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}